* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: red;
}
.pinBody {
  min-width: 380px;
  min-height: 60px;
}
#pinInput {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 40px;
  border-radius: 10px;
  margin: 2px;
}
